<div class="example-container">
        <mat-card class="matty2">
                <mat-card-content class="matty">
                  <form class="example-form">
                    <div class="example-container2">
                    <mat-form-field class="bad" appearance="outline">
                        <input matInput  placeholder="Input Text To Analyze" type="text" #longtext> 
                    </mat-form-field>
                   
            
                    </div>
                  </form>
                  <div class="example-container2">
                        <button class="but" type="button" aria-label="Home Page" mat-raised-button (click)='getValue(longtext.value); onCreate();'>
                                Visualize
                                  </button>
                               
                </div>
            </mat-card-content>  
        </mat-card>
        
</div>