.mat{
//     display:flex;
//   flex-direction: row;
  align-items: center;
  position: sticky;
  top: 0;
  justify-content: center;
  width: 100%;


 
}

.fontheigth{
    font-size: 28px;
  }

  .but img {
      background: transparent;
  }