.example-container {
        display: flex;
        flex-direction: column;
        margin-top: 3%;
        position: sticky;

      }
      
      .example-container > * {
        width: 100%;
      }

      .example-container2{
          text-align: center;
      }

      .matty{
          width: 1420px;
      }

      .matty2{
          width: 1420px;
          
      }

      .bad{
          width: 50%;
      }
      .but{
          width: 10%;
      }
      
