<div class="example-container">
        <mat-card class="matty2">
                <mat-card-content class="matty">
                  <form class="example-form">
                    <div class="example-container2">
                    <mat-form-field >
                        <input matInput placeholder="Input Text To Analyze" type="text">
                    </mat-form-field>
                    </div>
                  </form>
                  <div>
                        <button class="example-container2" type="button" aria-label="Home Page" mat-raised-button>
                                Visualize
                                  </button>
                </div>
            </mat-card-content>  
        </mat-card>
        
</div>