.first{
    align-content: center;
}

.bottomButton{
 
   display: block !important;
   position: relative;
   //    margin-bottom: 0%;
}

.divvy{
    height: 100%;
    margin-top: 80%;

}
.enhance{
    width: 80px;
    align-self: center;
}

.enhance2{
    align-content: center;
}